<figure class="w-[312px] group hover:-translate-y-1.5 transition-all
    duration-300 hover:animate-pulse hover:border-b hover:border-b-zinc-900 pb-4 relative">

  <div class="absolute top-4 right-4 cursor-pointer z-50">
    <app-heart-icon [mode]="addedToWishlist() ? 'filled': 'empty'" />
  </div>

  <a [routerLink]="href()" class="flex flex-col justify-center gap-5">

    <div class="overflow-hidden relative">
      <div class="relative">
        <img [alt]="imgData().alt" [attr.src]="imgData().src"
             [class]="'object-cover ' + imageDimensions()">

        <div *ngIf="tagStyles !== ''">
          <span
            [class]="'uppercase text-white rounded-full p-2 px-4 absolute top-4 left-2 ' + tagStyles">
            {{ tagText }}
          </span>
        </div>
      </div>
      <span class="opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto
      transition-all duration-300">
        <div class="absolute top-0 left-0 h-full w-full bg-zinc-800 opacity-75 flex items-center justify-center">
          <span class="text-white text-4xl"><span class="font-alexBrush">E</span>xlore</span>
        </div>
        <div class="absolute -top-12 -right-20">
          <app-limited-addition-circle fillColor="white" />
        </div>
        <div class="absolute -bottom-12 -left-20">
          <app-limited-addition-circle fillColor="white" />
        </div>
      </span>
    </div>
    <div [class]="cardMode() === 'white' ? 'text-neutral-100': ''">
      <h2
        [class]="'text-2xl mb-2 ' + (cardMode() === 'black' ? 'text-zinc-800' : '')">{{ itemDetails().heading | trimText: 28 }}</h2>
      <div *ngIf="extraDetailsVisible()" class="flex items-center gap-2 mb-6">
        <span class="text-green-600 text-2xl">{{ itemDetails().price | currency }}</span>
        <div class="flex items-center">
          <app-star-icon *ngFor="let star of getRatingArray" [mode]="star" dimensions="sm" />
        </div>
        <span class="">({{ itemDetails().reviewCount | number }})</span>
      </div>
      <app-paragraph>
        <span class="font-alexBrush">{{ firstLetterOfText }}</span>{{ restOfText | trimText: 150 }}
      </app-paragraph>
    </div>
  </a>
</figure>
