<section>
  <div>
    <app-heading customContainerClasses="mb-14" mode="dark" span="Exclusive collections">
      <span class="font-alexBrush">E</span>xplore <span class="font-alexBrush">E</span>xclusive hot <span
      class="font-alexBrush">C</span>ollections
    </app-heading>
    <div class="relative">
      <div>
        <app-collection-card
          [imgData]="{ src: './collections/venera-collection-preview.png', alt: 'Venera Collection' }"
          heading="Venera Collection"
          text="Elevate your elegance with the Venera Collection, a timeless selection
            of handcrafted jewelry inspired by
            celestial beauty. Each piece reflects exquisite craftsmanship and attention to detail, designed to add a
            touch of sophistication to your everyday moments and special occasions."
        />
      </div>
      <div
        class="absolute md:top-0 md:right-0 md:bottom-auto md:left-auto -bottom-16 left-[25%] flex items-center gap-6">
        <app-arrow-button />
        <app-arrow-button customIconClasses="rotate-180" />
      </div>
    </div>
  </div>
</section>
