<div class="flex items-center gap-6 px-8 overflow-x-auto pt-3">

  <figure class="group hover:-translate-y-1.5 transition-all
    duration-300 hover:animate-pulse hover:border-b hover:border-b-zinc-900 pb-4">
    <a class="flex flex-col justify-center gap-5 w-[312px] " routerLink="#">
      <div class="overflow-hidden relative">
        <img alt="Classic Gold Bracelet" class="w-[312px] h-[312px] object-cover"
             src="jewelry\classic-gold-bracelet\classic-gold-bracelet-1.png">
        <span class="opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto
      transition-all duration-300">
          <div class="absolute top-0 left-0 h-full w-full bg-zinc-800 opacity-75 flex items-center justify-center">
            <span class="text-white text-4xl"><span class="font-alexBrush">E</span>xlore</span>
          </div>
          <div class="absolute -top-12 -right-20">
            <app-limited-addition-circle fillColor="white" />
          </div>
          <div class="absolute -bottom-12 -left-20">
            <app-limited-addition-circle fillColor="white" />
          </div>
        </span>
      </div>
      <div>
        <h2 class="text-zinc-800 text-2xl mb-2">Classic Golden Bracelet..</h2>
        <div class="flex items-center gap-2 mb-6">
          <span class="text-green-600 text-2xl">$1,498</span>
          <div class="flex items-center">
            <app-star-icon dimensions="sm" />
            <app-star-icon dimensions="sm" />
            <app-star-icon dimensions="sm" />
            <app-star-icon dimensions="sm" />
            <app-star-icon dimensions="sm" />
          </div>
          <span class="">(76)</span>
        </div>
        <app-paragraph>
          <span class="font-alexBrush">C</span>rafted with the finest diamonds, this necklace is designed to make you
          stand out at every occasion. Adorn your
          neckline with these symbols of sophistication...
        </app-paragraph>
      </div>
    </a>
  </figure>
</div>
