<figure class="flex flex-col md:flex-row md:items-center gap-4">
  <a [routerLink]="href()" class="flex flex-col md:flex-row md:items-center gap-4">
    <img [alt]="imgData().alt" [attr.src]="imgData().src" class="w-20 h-20 object-cover">
    <div>
      <h2 [class]="'text-xl '
       + applyThemeClasses(theme, 'text-zinc-900', 'text-neutral-100')">{{ heading() | trimText: 70 }}</h2>
      <p
        [class]="'max-w-screen-sm-xl'
        + applyThemeClasses(theme, 'text-zinc-800', 'text-neutral-200')">{{ text() | trimText: 120 }}</p>
    </div>
  </a>
  <div class="flex items-center gap-4">
    <span class="text-yellow-600 text-xl">{{ totalPrice() | currency }}</span>
    <div class="flex items-center gap-2 ">
      <button (click)="decreaseItemCount()"
              [class]="'w-9 h-9 border text-2xl transition-all duration-300 ' + getButtonExtraStyles"
              [disabled]="jewelDetails().itemsLeft === 0"
              [ngClass]="{
              'hidden': !enableButtons()
              }"
              type="button">-
      </button>
      <input
        [class]="'text-3xl text-center focus:outline-none w-9 disabled:text-zinc-500 text-yellow-700'
        + applyThemeClasses(theme, '', 'bg-transparent')"
        [defaultValue]="jewelDetails().itemsLeft === 0 ? 0 : itemCounter()"
        [disabled]="jewelDetails().itemsLeft === 0"
        placeholder="1" readonly
        type="number">
      <button (click)="increaseItemCount()"
              [class]="'w-9 h-9 border text-2xl transition-all duration-300 ' + getButtonExtraStyles"
              [disabled]="jewelDetails().itemsLeft === 0"
              [ngClass]="{
              'hidden': !enableButtons()
              }" type="button">+
      </button>
    </div>
  </div>
</figure>
