<section class="container mt-11">
  <div
    class="bp-1453:grid bp-1453:grid-cols-4 items-center justify-center bp-1453:gap-x-32 gap-y-8 flex flex-wrap gap-x-7">
    <!--  <div class="flex flex-wrap gap-7 justify-center">-->
    <p *ngIf="jewelry().length === 0" class="">Oops! No items to be seen!</p>
    <app-item-card
      *ngFor="let item of jewelry()"
      [addedToWishlist]="item.addedToWishlist"
      [href]="item.href"
      [imgData]="item.imgData"
      [itemDetails]="item.itemDetails"
    />
  </div>
  <div *ngIf="jewelry().length > 0 && jewelry().length >= 8"
       class="mt-16 flex items-center justify-center flex-col gap-y-8">
    <app-viajewels-button label="See More" styling="default" type="button" />
    <span>Showing 8 items out of 133</span>
  </div>
</section>
