<app-heading class="testimonials-heading" customContainerClasses="mb-6" span="up to 1000+ customers are satified!">
  <span class="font-alexBrush">W</span>hat our customers
  think about <span class="font-alexBrush">U</span>s!
</app-heading>
<div class="flex items-center justify-between mb-16">
  <app-paragraph>
    <span class="font-alexBrush">A</span>t Viajewels, we pride ourselves on delivering not just stunning jewelry but
    also exceptional experiences. Our
    customers love sharing their stories of how our pieces have added elegance to their style and meaning to their
    special moments!
  </app-paragraph>

  <div class="hidden lg:flex">
    <app-paragraph>
      <span class="font-alexBrush">F</span>rom the sparkle of our designs to the quality of our service, our
      customers
      can’t stop raving about their Viajewels experience. With glowing reviews and heartfelt testimonials, we’re
      honored
      to be a part of their journey to find jewelry that truly shines.
    </app-paragraph>
  </div>
</div>
<app-testimonials [testimonials]="testimonials()" />
