<section [class]="'container' + applyThemeClasses(theme, '', 'text-white')">
  <div class="flex items-center gap-2">
    <app-navigate-to-link [href]="['/']" label="Home ." />
    <app-navigate-to-link [href]="['/jewelry']" label="Jewelry ." />
  </div>
  <div class="mt-3">
    <app-heading span="Wow! What a nice order!">
      Thanks for purchase!
    </app-heading>
    <app-paragraph class="inline-block mt-3 mb-10">
      <span class="font-alexBrush">W</span>e sincerely appreciate your trust in us and are thrilled to have you as part
      of our community. Your order is
      being processed, and we’ll ensure it reaches you promptly and securely
    </app-paragraph>

    <div class="flex flex-col justify-center gap-5">
      <app-order-detail-card
        *ngFor="let cartItem of cart"
        [enableButtons]="false"
        [heading]="cartItem.jewel.itemDetails.heading"
        [href]="'jewelry/' + cartItem.jewel.id"
        [imgData]="cartItem.jewel.imgData[0]"
        [item]="cartItem.jewel"
        [jewelDetails]="{itemsLeft: cartItem.jewel.itemsLeft, itemPrice: cartItem.jewel.itemDetails.price}"
        [text]="cartItem.jewel.itemDetails.description" />
    </div>
    <span
      [class]="'text-3xl inline-block mt-8'
      + applyThemeClasses(theme, 'text-zinc-800', 'text-white')">Total Checkout: {{ totalPrice | currency }}</span>
    <app-shipping-details
      [button]="{type: 'button', text: 'Go Home', href: '/', btnMode: 'link'}"
      [inputData]="getInputData!"
      class="mt-12 block"
      infoMessage="Thanks for participation in my project! It was fully built by Nikolas Tuz, Software Developer, as part of his portfolio." />
  </div>
</section>
