<section class="mt-32 mb-24">
  <div class="mb-14">
    <span class="text-amber-600 uppercase">What we can offer? Why us?</span>
    <h2 class="text-7xl text-zinc-900"><span class="font-alexBrush">B</span>enefits of
      <span class="font-alexBrush">W</span>orking with <span class="font-alexBrush">U</span>s</h2>
  </div>
  <div class="flex items-center gap-8 mb-10">
    <div class="flex items-center gap-8">
      <app-circular-badge color="black" customClasses="text-xl">trust</app-circular-badge>
      <div>
        <h3 class="text-zinc-900 text-4xl mb-6">Built on Trust, Designed for You</h3>
        <app-paragraph>
          At Viajewels, trust is the foundation of everything we do. With transparent policies, secure transactions, and
          a
          <span class="font-semibold">proven track record of satisfied customers</span>, you can shop with confidence.
        </app-paragraph>
      </div>
    </div>

    <div class="flex items-center gap-8">
      <app-circular-badge color="whitish" customClasses="text-xl">
        unique <br /> ness
      </app-circular-badge>
      <div>
        <h3 class="text-zinc-900 text-4xl mb-6">Jewelry as Unique as You Are</h3>
        <app-paragraph>
          Stand out with one-of-a-kind jewelry that speaks to your individuality. Our collection showcases exclusive
          designs crafted to add a touch of uniqueness to your style, <span class="font-semibold">ensuring you find pieces are special!</span>
        </app-paragraph>
      </div>
    </div>
  </div>

  <div class="flex gap-8">
    <div class="flex items-center gap-8">
      <app-circular-badge color="black" customClasses="text-xl">support</app-circular-badge>
      <div>
        <h3 class="text-zinc-900 text-4xl mb-6">Support You Can Count On</h3>
        <app-paragraph>
          Your satisfaction is our priority. Our dedicated support team is here to assist you every step of the way,
          from helping you choose <span class="font-semibold">the perfect piece </span> to addressing any questions.
        </app-paragraph>
      </div>
    </div>

    <div class="flex gap-8">
      <app-circular-badge color="orange" customClasses="text-xl">
        quality
      </app-circular-badge>
      <div>
        <h3 class="text-zinc-900 text-4xl mb-6">Crafted for Quality, Made to Last</h3>
        <app-paragraph>
          When you choose Viajewels, you’re choosing excellence. Our jewelry is crafted with precision using <span
          class="font-semibold">the finest
          materials,</span> ensuring lasting beauty and durability.
        </app-paragraph>
      </div>
    </div>
  </div>
</section>
