<dialog (close)="onClose()" [open]="popupVisibility"
        class="bg-white fixed top-0 left-0 w-screen sm:h-[650px] h-screen z-50">
  <div class="container pt-11">
    <div class="flex items-center gap-5 mb-5">
      <h2 class="text-6xl text-zinc-800 mb-6"><span class="font-alexBrush">Y</span>our <span
        class="font-alexBrush">W</span>ishlist
      </h2>
      <span class="text-5xl font-alexBrush text-zinc-800">3</span>
    </div>
    <div class="grid grid-cols-1 gap-5 sm:max-h-80 max-h-[400px] overflow-y-auto scrollbar-thin pt-4">
      <div class="flex sm:items-center gap-10 flex-col bp-1210:flex-row">
        <app-order-detail-card
          [imgData]="{alt: 'Image 1', src: 'jewelry/classic-gold-bracelet/classic-gold-bracelet-1.png'}"
          [jewelDetails]="{itemsLeft: 2, itemPrice: 999}"
          heading="A classic golden bracelet"
          text="A classic golden bracelet designed to enhance elegance with every wear. Features intricate detailing and a smooth finish."
        />
        <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
          <app-viajewels-button-small label="Move to Cart" mode="default" type="button" />
          <app-viajewels-button-small label="Remove" mode="grey" type="button" />
        </div>
      </div>

      <div class="flex sm:items-center gap-10 flex-col bp-1210:flex-row">
        <app-order-detail-card
          [imgData]="{alt: 'Image 1', src: 'jewelry/classic-gold-bracelet/classic-gold-bracelet-1.png'}"
          [jewelDetails]="{itemsLeft: 2, itemPrice: 999}"
          heading="A classic golden bracelet"
          text="A classic golden bracelet designed to enhance elegance with every wear. Features intricate detailing and a smooth finish."
        />
        <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
          <app-viajewels-button-small label="Move to Cart" mode="default" type="button" />
          <app-viajewels-button-small label="Remove" mode="grey" type="button" />
        </div>
      </div>

      <div class="flex sm:items-center gap-10 flex-col bp-1210:flex-row">
        <app-order-detail-card
          [imgData]="{alt: 'Image 1', src: 'jewelry/classic-gold-bracelet/classic-gold-bracelet-1.png'}"
          [jewelDetails]="{itemsLeft: 2, itemPrice: 999}"
          heading="A classic golden bracelet"
          text="A classic golden bracelet designed to enhance elegance with every wear. Features intricate detailing and a smooth finish."
        />
        <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
          <app-viajewels-button-small label="Move to Cart" mode="default" type="button" />
          <app-viajewels-button-small label="Remove" mode="grey" type="button" />
        </div>
      </div>

      <div class="flex sm:items-center gap-10 flex-col bp-1210:flex-row">
        <app-order-detail-card
          [imgData]="{alt: 'Image 1', src: 'jewelry/classic-gold-bracelet/classic-gold-bracelet-1.png'}"
          [jewelDetails]="{itemsLeft: 2, itemPrice: 999}"
          heading="A classic golden bracelet"
          text="A classic golden bracelet designed to enhance elegance with every wear. Features intricate detailing and a smooth finish."
        />
        <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
          <app-viajewels-button-small label="Move to Cart" mode="default" type="button" />
          <app-viajewels-button-small label="Remove" mode="grey" type="button" />
        </div>
      </div>

      <div class="flex sm:items-center gap-10 flex-col bp-1210:flex-row">
        <app-order-detail-card
          [imgData]="{alt: 'Image 1', src: 'jewelry/classic-gold-bracelet/classic-gold-bracelet-1.png'}"
          [jewelDetails]="{itemsLeft: 2, itemPrice: 999}"
          heading="A classic golden bracelet"
          text="A classic golden bracelet designed to enhance elegance with every wear. Features intricate detailing and a smooth finish."
        />
        <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
          <app-viajewels-button-small label="Move to Cart" mode="default" type="button" />
          <app-viajewels-button-small label="Remove" mode="grey" type="button" />
        </div>
      </div>
    </div>
    <div class="ml-auto mt-7">
      <div class="flex items-center justify-end mt-4 flex-col sm:flex-row gap-4 sm:gap-0">
        <div class="flex items-center gap-10 mr-24">
          <span class="text-3xl text-yellow-700">6,755$</span>
          <span class="text-3xl text-zinc-700">3</span>
        </div>
        <app-viajewels-button label="Move all to Cart" mode="btn" styling="default" type="button" />
      </div>
    </div>
  </div>
</dialog>
<div (click)="onClose()" [ngClass]="{'hidden': !popupVisibility}"
     class="fixed z-40 top-0 left-0 h-screen w-screen bg-zinc-900/90">
</div>
