<dialog (close)="onClose()" [open]="popupVisibility"
        class="bg-white fixed top-0 left-0 w-screen sm:h-[650px] h-screen z-50">
  <app-close-icon (click)="onClose()" class="absolute top-5 right-14" />
  <div class="container pt-11">
    <div class="flex items-center gap-5 mb-5">
      <h2 class="text-6xl text-zinc-800 mb-6"><span class="font-alexBrush">Y</span>our <span
        class="font-alexBrush">W</span>ishlist
      </h2>
      <span class="text-5xl font-alexBrush text-zinc-800">{{ wishlist.length }}</span>
    </div>
    <p *ngIf="wishlist.length === 0">Your wishlist is empty! Feel free to add some!</p>
    <div *ngIf="wishlist.length > 0">

      <div
        class="grid grid-cols-1 gap-5 sm:max-h-80 max-h-[400px] overflow-y-auto scrollbar-thin pt-4">
        <div *ngFor="let item of wishlist"
             class="flex sm:items-center gap-10 flex-col justify-between bp-1210:flex-row">
          <app-order-detail-card
            (totalPriceChange)="onTotalPriceChange($event)"
            [enableButtons]="false"
            [heading]="item.itemDetails.heading"
            [href]="item.href"
            [imgData]="item.imgData[0]"
            [jewelDetails]="{itemsLeft: item.itemsLeft, itemPrice: item.itemDetails.price}"
            [text]="item.itemDetails.description"
          />
          <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
            <app-viajewels-button-small (click)="handleMoveItemToCart(item)" label="Move to Cart" mode="default"
                                        type="button" />
            <app-viajewels-button-small (click)="removeItemFromWishlist(item)" label="Remove" mode="grey"
                                        type="button" />
          </div>
        </div>
      </div>
      <div class="ml-auto mt-7">
        <div class="flex items-center justify-end mt-4 flex-col sm:flex-row gap-4 sm:gap-0">
          <div class="flex items-center gap-10 mr-24">
            <span class="text-3xl text-yellow-700">{{ totalWishlistPrice | currency }}</span>
          </div>
          <app-viajewels-button (click)="moveAllItemsToCart()" label="Move all to Cart" mode="btn" styling="default"
                                type="button" />
        </div>
      </div>
    </div>
  </div>
</dialog>
<div (click)="onClose()" [ngClass]="{'hidden': !popupVisibility}"
     class="fixed z-40 top-0 left-0 h-screen w-screen bg-zinc-900/90">
</div>
