<section>
  <h2 class="text-4xl text-zinc-800">Shipping Details</h2>
  <app-paragraph class="inline-block mt-7 shipping-details-par">
    <span class="font-alexBrush">Y</span>ou’re almost there! A few quick steps are all that’s left to complete your
    purchase. Review your
    details, select
    your preferred shipping option, and place your order. We’ll take care of the rest and get your item to you as
    quickly as possible!
  </app-paragraph>
  <p *ngIf="errorMessage()" class="text-2xl text-red-600 mt-3">{{ errorMessage() }}</p>
  <form (ngSubmit)="onSubmit()" class="md:max-w-screen-bp-890 w-full mt-8">
    <div class="flex flex-col md:flex-row md:items-center md:gap-9 gap-3">
      <app-input-control #firstNameInput [placeholder]="inputData().firstName.placeholder"
                         [readOnly]="inputData().firstName.readOnly" helperText="Enter your first name"
                         mode="black"
                         type="text" />
      <app-input-control #lastNameInput [placeholder]="inputData().lastName.placeholder"
                         [readOnly]="inputData().lastName.readOnly"
                         helperText="Enter your last name"
                         mode="black"
                         type="text" />
    </div>

    <div class="flex flex-col md:flex-row md:items-center md:gap-9 gap-3">
      <app-input-control #addressInput [placeholder]="inputData().address.placeholder"
                         [readOnly]="inputData().address.readOnly" helperText="Enter your shipping address"
                         mode="black"
                         type="text" />
      <app-input-control #apartmentInput [placeholder]="inputData().apartment.placeholder"
                         [readOnly]="inputData().apartment.readOnly" helperText="Enter your Apartment(optional)"
                         mode="black" type="text" />
    </div>
    <div class="w-full">
      <app-input-control #cityInput [placeholder]="inputData().city.placeholder" [readOnly]="inputData().city.readOnly"
                         helperText="Enter your City"
                         mode="black" type="text" />
    </div>
    <div class="flex flex-col md:flex-row md:items-center gap-9">
      <div class="flex flex-col sm:flex-row sm:items-center gap-9">
        <app-input-control #countryInput [placeholder]="inputData().country.placeholder"
                           [readOnly]="inputData().country.readOnly" class="max-w-64"
                           helperText="Choose your Country"
                           mode="black"
                           type="text" />
        <app-input-control #stateInput [placeholder]="inputData().state.placeholder"
                           [readOnly]="inputData().state.readOnly" class="max-w-64" helperText="Choose a State"
                           mode="black"
                           type="text" />
      </div>
      <app-input-control #zipCodeInput [placeholder]="inputData().zipCode.placeholder"
                         [readOnly]="inputData().zipCode.readOnly" class="max-w-64"
                         helperText="Enter your Zip Code"
                         mode="black"
                         type="number" />
    </div>
    <div class="flex flex-col md:flex-row md:items-center gap-9 mb-12">
      <app-input-control #emailInput [placeholder]="inputData().email.placeholder"
                         [readOnly]="inputData().email.readOnly"
                         helperText="Enter your valid Email" mode="black"
                         type="email" />
      <app-input-control #phoneInput [placeholder]="inputData().phone.placeholder"
                         [readOnly]="inputData().phone.readOnly" helperText="Enter your valid Phone"
                         mode="black"
                         type="number" />
    </div>
    <app-info-message [text]="infoMessage()" />
    <app-viajewels-button
      [href]="button().href"
      [label]="button().text"
      [mode]="button().btnMode"
      [type]="button().type"
      class="mt-12 inline-block"
      styling="default"
    />
  </form>
