<nav class="pt-7 flex items-center pb-7 container flex-col sm:flex-row">
  <span class="text-6xl mr-9 font-alexBrush text-zinc-900">{{ heading() }}</span>
  <ul class="flex items-center gap-4">
    <li>
      <button (click)="onCartClick()">Cart({{ cartItems }})</button>
    </li>
    <li>
      <button (click)="onWishlistClick()">Wishlist({{ wishlistedItems }})</button>
    </li>
    <li>
      <select (change)="onSelectChange($event)" class="text-zinc-800 outline-none">
        <option value="">Menu</option>
        <option value="/">Home</option>
        <option value="/jewelry">Jewelry</option>
      </select>
    </li>
  </ul>
</nav>
