<main class="max-w-screen-xl m-auto px-8">
  <app-navigation />
  <section>
    <div>
      <h1 class="text-7xl text-zinc-900 mb-7 relative w-fit">
        <span class="font-alexBrush">E</span>xplore
        <span class="font-alexBrush">H</span>undreds <br>
        Of Posh <span class="font-alexBrush">J</span>ewellery!
        <app-limited-addition-circle customClasses="absolute -top-5 -right-2" />
      </h1>
      <app-paragraph customClasses="mb-4">
        <span class="font-alexBrush">U</span>nveil a world of
        sophistication with
        Viajewels, your go-to destination
        for exquisite jewelry. From <span class="font-semibold">dazzling
        necklaces to timeless rings,</span> explore a curated collection designed to celebrate every moment.
      </app-paragraph>
      <app-paragraph>
        At Viajewels, we <span class="font-semibold">blend luxury and convenience</span> to redefine
        your shopping experience. Enjoy a seamless journey
        with user-friendly navigation, secure payment options, and exceptional customer service.
      </app-paragraph>
    </div>
  </section>
</main>
