<footer class="pt-20 pb-10 relative">
  <div class="container">
    <div class=" flex flex-col justify-center items-center">
      <span class="text-amber-600">CONTACT US IF NECESSARY! LET’S STAY IN TOUCH!</span>
      <h2 class="text-9xl align-center my-auto text-zinc-800">LET’S STAY IN TOUCH!</h2>

      <div class="flex items-center gap-20 mt-8">
        <app-info-badge heading="Address" linkHref="#" linkLabel="123 St. Anna Avenue, New York" />
        <app-info-badge heading="Phone Number" linkHref="tel:+123-456-789-0" linkLabel="+123-456-789-0" />
        <app-info-badge heading="Email" linkHref="mailto:viajewels@gmail.com" linkLabel="viajewels@gmail.com" />
        <div class="pb-16">
          <span class="font-alexBrush text-5xl mb-4 inline-block">Follow us!</span>
          <div class="flex justify-center gap-3">
            <a class="flex items-center justify-center p-5 rounded-full bg-zinc-900" href="#">
              <app-instagram-icon />
            </a>

            <a class="flex items-center justify-center p-5 rounded-full bg-zinc-900" href="#">
              <app-linkedin-icon />
            </a>

            <a class="flex items-center justify-center p-5 rounded-full bg-zinc-900" href="">
              <app-viber-icon />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        &copy; 2024 Via Jewels. All rights reserved.
      </div>
      <div>
        <span class="font-alexBrush text-2xl">ViaJewels</span>
      </div>
    </div>
  </div>
</footer>
