<section class="relative">
  <div class="absolute -top-32 -right-0 z-[-10]">
    <img alt="Hero Image" class="h-[800px]" src="/hero/hero-img.png">
  </div>
  <div class="container">
    <app-hero />
  </div>
  <div class="container">
    <app-why-us />
  </div>
  <div class="bg-zinc-900 py-24 relative z-10 mb-24">
    <span
      class="absolute top-3 font-aboreto text-zinc-800 text-[200px] text-nowrap z-[-10]">exclusive exclusive exclusive exclusive</span>
    <div class="container">
      <app-collections />
    </div>
    <span
      class="absolute bottom-3 font-aboreto text-zinc-800 text-[200px] text-nowrap z-[-10]">exclusive exclusive exclusive exclusive</span>
  </div>
  <div class="container">
    <app-testimonials />
  </div>

</section>
