<div class="relative">
  <div class="absolute -top-32 -right-0 z-[-10]">
    <img alt="Hero Image" class="h-[800px] hidden bp-1210:block" fetchpriority="high" src="/hero/hero-img.png">
  </div>
  <div class="container">
    <app-hero />
  </div>
  <div class="container">
    <app-why-us />
  </div>
  <app-collections />
  <section class="container">
    <app-customer-testimonials [testimonials]="testimonialData()" />
  </section>
  <section class="mt-24 mb-24">
    <div class="container">
      <app-heading customContainerClasses="mb-11" span="EXPLORE HUNDREDS OF NECKLACES, RINGS, BRACELETS AND MORE!">
        <span class="font-alexBrush">T</span>op rated <span class="font-alexBrush">J</span>ewelry we proud <span
        class="font-alexBrush">O</span>f
      </app-heading>
    </div>
    <app-cards-carousel [jewelry]="jewelry" />
  </section>
  <div class="bg-red-600 py-24 pb-28">
    <div class="container">
      <app-contact-support-team />
    </div>
  </div>
</div>
