<section>
  <div *ngIf="paginatedTestimonials.length > 0" class="grid items-center bp-1124:grid-cols-2 gap-11 grid-cols-1">
    <app-testimonials-card
      *ngFor="let testimonial of paginatedTestimonials"
      [createdAt]="testimonial.createAt"
      [initials]="testimonial.initials!"
      [rating]="testimonial.rated"
      [review]="testimonial.review"
    />
  </div>
  <div *ngIf="paginationVariation() === 'circles' && testimonials().length > 0"
       class="mt-16 flex items-center justify-center">
    <div class="flex items-center gap-3">
      <button (click)="setPage(+page)"
              *ngFor="let page of generatePaginationButtons()"
              [disabled]="page === '...'"
              [ngClass]="{'bg-zinc-800 text-white': currentPage() === page}"
              class="flex items-center justify-center w-10 h-10 border border-zinc-800 rounded-full text-xl">
        {{ page }}
      </button>
    </div>
  </div>
  <div *ngIf="paginationVariation() === 'see-more-btn' && paginatedTestimonials.length > 0" class="mt-16">
    <app-viajewels-button (click)="nextPage()" [styling]="theme === 'light' ? 'default': 'empty-white'"
                          label="See More"
                          type="button" />
    <button (click)="setTestimonialsToDefault()" *ngIf="totalTestimonialsToShow() > 4"
            class="text-zinc-400 text-2xl ml-9 mt-4 sm:mt-0 transition-all duration-300 hover:text-zinc-800">Hide
    </button>
  </div>
</section>
