<div class="bg-red-600 py-24 pb-28 mt-20 relative z-10">
  <img alt="A wonderful bracelets for your loved one." class="absolute object-cover top-0 -right-20 h-full z-[-1]"
       src="./jewel/leave-review.png">
  <div class="container">
    <section>
      <div class="flex bp-890:block flex-col items-center bp-890:text-left text-center">
        <app-heading customContainerClasses="mb-7 flex flex-col" span="want to share your exprerience?"
                     spanColor="text-white">
          <p class="text-white"><span class="font-alexBrush">L</span>eave a review
            <span class="font-alexBrush">B</span>elow!</p>
        </app-heading>
        <div class="flex items-center justify-between mb-16">
          <app-paragraph customClasses="text-white">
            <span class="font-alexBrush">W</span>e value your feedback and would love to hear about your experience
            with our products! Sharing your thoughts not only helps us improve but also helps other customers make
            informed decisions. Whether it’s a story about how the item brought joy to your life or a suggestion for
            improvement, every review matters.
          </app-paragraph>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center">
          <form (ngSubmit)="onSubmit()" [formGroup]="leaveReviewForm" class="w-full flex flex-col gap-14">
            <div class="flex justify-center flex-col gap-1">
              <div class="flex items-center gap-4 mb-7">
                <span class="uppercase text-3xl text-white">rating</span>
                <div class="flex items-center gap-1">
                  <app-star-white-icon (click)="setRating(1)" [mode]="rating >= 1 ? 'filled' : 'transparent'"
                                       class="cursor-pointer" />
                  <app-star-white-icon (click)="setRating(2)" [mode]="rating >= 2 ? 'filled' : 'transparent'"
                                       class="cursor-pointer" />
                  <app-star-white-icon (click)="setRating(3)" [mode]="rating >= 3 ? 'filled' : 'transparent'"
                                       class="cursor-pointer" />
                  <app-star-white-icon (click)="setRating(4)" [mode]="rating >= 4 ? 'filled' : 'transparent'"
                                       class="cursor-pointer" />
                  <app-star-white-icon (click)="setRating(5)" [mode]="rating >= 5 ? 'filled' : 'transparent'"
                                       class="cursor-pointer" />
                </div>
              </div>
              <div class="flex sm:items-center sm:gap-20 flex-col sm:flex-row">
                <app-input-control class="sm:max-w-96" helperText="Enter a valid email" name="email"
                                   placeholder="Email" type="email" />
                <app-input-control class="sm:max-w-96" helperText="Enter your initials. At least 2 characters"
                                   name="initials"
                                   placeholder="Initials"
                                   type="text" />
              </div>
              <app-input-control class="w-full" helperText="Enter your review. From 10 to 800 characters long."
                                 name="review" placeholder="Review" type="text" />
            </div>
            <app-viajewels-button class="text-white" label="leave Review" styling="empty-white" type="submit" />
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
