<section class="container">
  <div class="flex justify-between flex-col lg:flex-row gap-10 lg:gap-0">
    <div class="order-2 lg:order-none">
      <div class="flex items-center gap-2 pb-2">
        <app-navigate-to-link [href]="['/']" label="Home ." />
        <app-navigate-to-link [href]="['/jewelry']" label="Jewelry ." />
      </div>
      <h1 class="sm:text-7xl text-6xl max-w-screen-sm z-10 mb-6">Search For Any
        Jewelry you’d like!</h1>
      <app-paragraph>
        <span class="font-alexBrush">D</span>iscover a world of stunning jewelry at your fingertips! Whether you're
        looking for timeless classics, modern
        designs, or unique statement pieces, our collection is curated to match every style and occasion!
      </app-paragraph>
    </div>

    <div class="hidden lg:flex">
      <app-minified-item-cards [items]="suggestedItems()" />
    </div>
  </div>
</section>
