<header class="container">
  <div class="flex items-center gap-2 pb-2 text-nowrap overflow-x-auto">
    <app-navigate-to-link [href]="['/']" label="Home ." />
    <app-navigate-to-link [href]="['/jewelry']" label="Jewelry ." />
    <app-navigate-to-link [href]="getLinkData().jewelUrl" [label]="getLinkData().jewelHeading" />
  </div>
  <div class="flex flex-col lg:flex-row items-start gap-14 mt-4">
    <div class="flex flex-col lg:flex-row items-start gap-3.5">
      <div>
        <img [alt]="jewelDetails().imgData[0].alt" [attr.src]="jewelDetails().imgData[0].src"
             class="lg:min-w-[421px] lg:w-full w-lvw lg:h-[650px] h-96 object-cover">
      </div>
      <div class="flex lg:flex-col justify-center gap-4">
        <img *ngFor="let image of jewelDetails().imgData.slice(1)" [alt]="image.alt" [attr.src]="image.src"
             class="lg:min-w-[139px] w-32 h-24 object-cover">
      </div>
    </div>
    <div>
      <div>
        <span class="text-yellow-700">Enjoy this precious!</span>
      </div>
      <h1 class="text-5xl text-zinc-800 leading-normal mb-2">{{ jewelDetails().itemDetails.heading | titlecase }}</h1>
      <div class="flex items-center mb-4">
        <app-star-icon *ngFor="let star of getRatingArray" [mode]="star" dimensions="sm" />
        <span class="text-neutral-600 text-lg ml-2">({{ jewelDetails().itemDetails.reviewCount }})</span>
      </div>
      <div class="flex flex-col sm-xl:flex-row items-center gap-7">
        <span class="text-yellow-700 text-2xl">{{ jewelDetails().itemDetails.price | currency }}</span>
        <div class="flex items-center gap-6">
          <div *ngFor="let tag of jewelDetails().itemDetails.tag" class="flex items-center">
            <app-bulky-badge [active]="false" class="-mr-3" label="{{tag | titlecase}}" />
          </div>
          <div class="ml-3 cursor-pointer">
            <app-heart-icon [color]="{
            filled: {
            color: 'rgb(161, 98, 7)'
            },
            empty: {
            color : 'rgb(161, 98, 7)'
            }
            }" mode="empty" />
          </div>
        </div>
      </div>
      <app-details
        [open]="true"
        [text]="[jewelDetails().itemDetails.info.description, jewelDetails().itemDetails.description]"
        summary="Product Description"
      />
      <app-details
        [text]="[jewelDetails().itemDetails.info.material]"
        summary="Material"
      />
      <app-details
        [text]="[jewelDetails().itemDetails.info.dimensions]"
        summary="Dimensions"
      />

      <app-details
        [text]="[jewelDetails().itemDetails.info.warranty]"
        summary="Warranty"
      />

      <app-details
        [text]="[jewelDetails().itemDetails.info.delivery]"
        summary="Delivery options"
      />
      <div class="flex flex-col sm-xl:flex-row items-start gap-10 mt-10 mb-3">
        <div class="flex flex-col gap-2 order-2 sm-xl:order-none">
          <button
            [class]="'px-16 py-3.5 uppercase border text-2xl ' + getButtonExtraStyles"
            [disabled]="jewelDetails().itemsLeft === 0">
            {{ jewelDetails().itemsLeft === 0 ? 'Out of Stock' : 'Buy Now' }}
          </button>
          <button class="uppercase text-zinc-600 text-xl">or add to cart</button>
        </div>
        <div class="flex items-center gap-2 order-1 sm-xl:order-none">
          <button [class]="'w-9 h-9 border text-2xl' + getButtonExtraStyles" [disabled]="jewelDetails().itemsLeft === 0"
                  type="button">-
          </button>
          <input [class]="'text-3xl text-center focus:outline-none w-9 disabled:text-zinc-500 text-yellow-700'"
                 [defaultValue]="0"
                 [disabled]="jewelDetails().itemsLeft === 0" placeholder="0"
                 type="number">
          <button [class]="'w-9 h-9 border text-2xl' + getButtonExtraStyles"
                  [disabled]="jewelDetails().itemsLeft === 0" type="button">+
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
