@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-aboreto: 'Aboreto', cursive;
  --font-alex-brush: 'Alex Brush', cursive;
  --font-afacad: 'Afacad', sans-serif;
  --font-agdasima: 'Agdasima', sans-serif;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #9a9a9a #cecece;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #a6a6a6;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.range-input:hover {
  opacity: 1;
}

.range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: rgb(39, 39, 42);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px; /* Adjust to align thumb with track */
}

.range-input::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
}

.range-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: rgb(39, 39, 42);
  cursor: pointer;
  border-radius: 50%;
}

/* Hide the spinners in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes waveEffect {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

body {
  transition: all .3s ease-in-out;
}

body.light-theme {
  background-color: white;
  transition: background-color .3s ease-in-out;
  animation: waveEffect .3s ease-in-out;
}

body.dark-theme {
  background-color: #050505;
  transition: background-color .3s ease-in-out;
  animation: waveEffect .3s ease-in-out;
}
