@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-aboreto: 'Aboreto', cursive;
  --font-alex-brush: 'Alex Brush', cursive;
  --font-afacad: 'Afacad', sans-serif;
}
