<section class="container">
  <div class="max-w-[548px]">
    <app-input-control helperText="Search for name, type, etc." mode="black"
                       placeholder="e.g. Beatuful rings for wedding.."
                       type="search" />
  </div>
  <div class="flex bp-1210:items-center p-1 flex-col bp-1210:flex-row gap-3">
    <div class="flex items-center gap-4 mr-6">
      <span class="text-2xl">Category:</span>
      <div class="flex items-center gap-3 overflow-x-auto">
        <app-bulky-badge [active]="false" label="Bracelets" />
        <app-bulky-badge [active]="true" label="Rings" />
        <app-bulky-badge [active]="false" label="Earrings" />
        <app-bulky-badge [active]="false" label="Necklaces" />
      </div>
    </div>
    <div class="flex items-center gap-3.5 mr-10">
      <span class="text-2xl">Rating:</span>
      <div class="flex items-center">
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" mode="empty" />
      </div>
    </div>
    <div class="flex items-center gap-3 bp-1453:mr-auto mr-8">
      <span class="text-2xl">Price:</span>
      <div class="flex items-center gap-1">
        <span>133$</span>
        <input class="min-w-24 h-8 border border-zinc-900 rounded-md text-center
          range-input" type="range" />
        <span>28,987$</span>
      </div>
    </div>
    <app-red-bulky-button class="text-nowrap" label="Clear Filters" type="button" />
  </div>
</section>
