<section class="container">
  <app-input-control helperText="Search for name, type, etc." mode="black"
                     placeholder="e.g. Beatuful rings for wedding.."
                     type="search" />
  <div class="flex items-center">
    <div class="flex items-center gap-4 mr-6">
      <span class="text-2xl">Category:</span>
      <div class="flex items-center gap-3">
        <button class="p-2 px-3 rounded-full border border-zinc-900" type="button">Bracelets</button>
        <button class="p-2 px-3 rounded-full border border-zinc-900 text-white bg-zinc-800" type="button">Rings
        </button>
        <button class="p-2 px-3 rounded-full border border-zinc-900" type="button">Earrings</button>
        <button class="p-2 px-3 rounded-full border border-zinc-900" type="button">Necklaces</button>
      </div>
    </div>
    <div class="flex items-center gap-3.5 mr-10">
      <span class="text-2xl">Rating:</span>
      <div class="flex items-center">
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" />
        <app-star-icon dimensions="sm" mode="empty" />
      </div>
    </div>
    <div class="flex items-center gap-3 mr-auto">
      <span class="text-2xl">Price:</span>
      <div class="flex items-center gap-1">
        <span>133$</span>
        <input class="w-24 h-8 border border-zinc-900 rounded-md text-center
          range-input" type="range" />
        <span>28,987$$</span>
      </div>
    </div>
    <button class="text-white bg-red-500 rounded-full p-2 px-3" type="button">Clear Filters</button>
  </div>
</section>
