<section class="container">
  <form (ngSubmit)="onSubmit()" class="max-w-[548px]">
    <app-input-control #searchInput helperText="Search for name, type, etc." mode="black"
                       placeholder="e.g. Beatuful rings for wedding.."
                       type="search" />
  </form>
  <div class="flex bp-1210:items-center p-1 flex-col bp-1210:flex-row gap-3">
    <div class="flex items-center gap-4 mr-6">
      <span class="text-2xl">Category:</span>
      <div class="flex items-center gap-3 overflow-x-auto">
        <app-bulky-badge (click)="switchCategory('bracelets')" [active]="activeCategory() === 'bracelets'"
                         label="Bracelets" />
        <app-bulky-badge (click)="switchCategory('rings')" [active]="activeCategory() === 'rings'" label="Rings" />
        <app-bulky-badge (click)="switchCategory('earrings')" [active]="activeCategory() === 'earrings'"
                         label="Earrings" />
        <app-bulky-badge (click)="switchCategory('necklaces')" [active]="activeCategory() === 'necklaces'"
                         label="Necklaces" />
      </div>
    </div>
    <div class="flex items-center gap-3.5 mr-10">
      <span class="text-2xl">Rating:</span>
      <div class="flex items-center">
        <app-star-icon (click)="switchRating(1)" [mode]="activeRating() >= 1 ? 'filled' : 'empty'"
                       class="cursor-pointer" dimensions="sm" />
        <app-star-icon (click)="switchRating(2)" [mode]="activeRating() >= 2 ? 'filled' : 'empty'"
                       class="cursor-pointer" dimensions="sm" />
        <app-star-icon (click)="switchRating(3)" [mode]="activeRating() >= 3 ? 'filled' : 'empty'"
                       class="cursor-pointer" dimensions="sm" />
        <app-star-icon (click)="switchRating(4)" [mode]="activeRating() >= 4 ? 'filled' : 'empty'"
                       class="cursor-pointer" dimensions="sm" />
        <app-star-icon (click)="switchRating(5)" [mode]="activeRating() >= 5 ? 'filled' : 'empty'"
                       class="cursor-pointer" dimensions="sm" />
      </div>
    </div>
    <div class="flex items-center gap-3 bp-1453:mr-auto mr-8">
      <span class="text-2xl">Price:</span>
      <div class="flex items-center gap-1">
        <span>{{ activePrice() | currency }}</span>
        <input (input)="handlePriceChange($event)" [max]="highestPrice"
               [min]="minPrice" [value]="activePrice()"
               class="min-w-24 h-8 border border-zinc-900 rounded-md text-center range-input" type="range" />
        <span>{{ highestPrice | currency }}</span>
      </div>
    </div>
    <app-red-bulky-button (click)="handleClearFilter()" class="text-nowrap" label="Clear Filters" type="button" />
  </div>
</section>
