<section>
  <app-heading customContainerClasses="mb-6" span="up to 1000+ customers are satified!">
    <span class="font-alexBrush">W</span>hat our customers
    think about <span class="font-alexBrush">U</span>s!
  </app-heading>
  <div class="flex items-center justify-between mb-16">
    <app-paragraph>
      <span class="font-alexBrush">A</span>t Viajewels, we pride ourselves on delivering not just stunning jewelry but
      also exceptional experiences. Our
      customers love sharing their stories of how our pieces have added elegance to their style and meaning to their
      special moments!
    </app-paragraph>

    <app-paragraph>
      <span class="font-alexBrush">F</span>rom the sparkle of our designs to the quality of our service, our customers
      can’t stop raving about their Viajewels experience. With glowing reviews and heartfelt testimonials, we’re honored
      to be a part of their journey to find jewelry that truly shines.
    </app-paragraph>
  </div>
  <div class="grid items-center grid-cols-2 gap-11">
    <app-testimonials-card
      [rating]="5"
      initials="Nick Baker"
      review="I was blown away by the beauty and craftsmanship of my necklace from
          Viajewels. It’s even more stunning in
          person and has quickly become my go-to accessory for every special occasion!"
    />
    <app-testimonials-card
      [rating]="5"
      initials="Nick Baker"
      review="I was blown away by the beauty and craftsmanship of my necklace from
          Viajewels. It’s even more stunning in
          person and has quickly become my go-to accessory for every special occasion!"
    />
    <app-testimonials-card
      [rating]="5"
      initials="Nick Baker"
      review="I was blown away by the beauty and craftsmanship of my necklace from
          Viajewels. It’s even more stunning in
          person and has quickly become my go-to accessory for every special occasion!"
    />
    <app-testimonials-card
      [rating]="5"
      initials="Nick Baker"
      review="I was blown away by the beauty and craftsmanship of my necklace from
          Viajewels. It’s even more stunning in
          person and has quickly become my go-to accessory for every special occasion!"
    />
  </div>
  <div class="mt-16">
    <button class="uppercase text-3xl px-24 py-5 border border-zinc-800">See more</button>
  </div>
</section>
