<dialog (close)="onClose()" [class]="'fixed top-0 left-0 w-screen sm:h-[650px] h-screen z-[60]'
+ applyThemeClasses(theme, 'bg-white ', 'bg-zinc-950')"
        [open]="popupVisibility">
  <app-close-icon (click)="onClose()" [color]="theme === 'dark' ? '#eeeeee': '#333333'" class="absolute top-5 right-14" />
  <div class="container pt-11">
    <div [class]="'flex items-center gap-5 mb-5' + applyThemeClasses(theme, 'text-zinc-800 ', 'text-neutral-200')">
      <h2 class="text-6xl mb-6"><span class="font-alexBrush">Y</span>our <span
        class="font-alexBrush">C</span>art
      </h2>
      <span class="text-5xl font-alexBrush">{{ cart.length }}</span>
    </div>
    <p *ngIf="cart.length === 0">Your cart is empty! Feel free to add some items!</p>
    <div *ngIf="cart.length > 0">

      <div
        class="grid grid-cols-1 gap-5 sm:max-h-80 max-h-[400px] overflow-y-auto scrollbar-thin pt-4">
        <div *ngFor="let item of cart"
             class="flex sm:items-center gap-10 flex-col justify-between bp-1210:flex-row">
          <app-order-detail-card
            [heading]="item.jewel.itemDetails.heading"
            [href]="item.jewel.href"
            [imgData]="item.jewel.imgData[0]"
            [item]="item.jewel"
            [jewelDetails]="{itemsLeft: item.jewel.itemsLeft, itemPrice: item.jewel.itemDetails.price}"
            [text]="item.jewel.itemDetails.description"
          />
          <div class="flex sm:items-center gap-5 flex-col sm:flex-row">
            <app-viajewels-button-small (click)="moveItemToWishlist(item)"
                                        [mode]="theme === 'light' ? 'default' : 'whitish'"
                                        label="Move to Wishlist"
                                        type="button" />
            <app-viajewels-button-small (click)="removeItemFromCart(item)" label="Remove" mode="grey"
                                        type="button" />
          </div>
        </div>
      </div>
      <div class="ml-auto mt-7">
        <div class="flex items-center justify-end mt-4 flex-col sm:flex-row gap-4 sm:gap-0">
          <div class="flex items-center gap-10 mr-24">
            <span
              [class]="'text-3xl ' + applyThemeClasses(theme, 'text-yellow-700', 'text-white')">{{ totalPrice | currency }}</span>
          </div>
          <app-viajewels-button (click)="onCheckoutBtnClick()" [styling]="theme === 'light' ? 'default': 'empty-white'"
                                label="Checkout"
                                mode="btn"
                                type="button" />
        </div>
      </div>
    </div>
  </div>
</dialog>
<div (click)="onClose()" [ngClass]="{'hidden': !popupVisibility}"
     class="fixed z-40 top-0 left-0 h-screen w-screen bg-zinc-900/90">
</div>
